<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stanny.nearpal.mapper.TVersionMapper">

    <select id="selectMaxVersion" resultType="com.stanny.nearpal.entity.TVersion">
        SELECT
	        *
        FROM
	        tb_version
        WHERE
            versioncode = (
		        SELECT
			    MAX(versioncode)
		        FROM
			    tb_version
	        )
	    order by updatetime desc
	    limit 1
    </select>

</mapper>